@import "modern-normalize.css";
@import "reset.css";

:root {
    /* for color palette use: https://www.realtimecolors.com/?colors=050315-fbfbfe-2f27ce-dedcff-433bff&fonts=Inter-Inter */
    --clr-text: hsl(31, 22%, 19%);
    --clr-background: hsl(250, 255%, 253%);
    --clr-primary: hsl(210, 224%, 224%);
    --clr-accent: hsl(2, 95%, 116%);

    --clr-success: hsl(143, 100%, 26%);
    --clr-warning: hsl(43, 100%, 66%);
    --clr-error: hsl(348, 55%, 49%);



    /* for fonts sizes use: https://utopia.fyi/type/calculator*/
    --fs-300: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
    --fs-400: clamp(1.2rem, 1.0196rem + 0.9022vw, 1.7188rem);
    --fs-500: clamp(1.44rem, 1.1936rem + 1.2321vw, 2.1484rem);
    --fs-600: clamp(1.728rem, 1.3949rem + 1.6653vw, 2.6855rem);
    --fs-700: clamp(2.0736rem, 1.6272rem + 2.2319vw, 3.3569rem);
    --fs-800: clamp(2.4883rem, 1.8943rem + 2.9702vw, 4.1962rem);

}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: hsl(14, 25%, 90%);
        --clr-background: hsl(156, 100%, 1%);
        --clr-primary: hsl(180, 18%, 25%);
        --clr-accent: hsl(191, 97%, 77%);
    }
}

html {
    color-scheme: light dark;
}